body{
  background:#fff;
}
#demo{
  text-align:center;
}

.title{
  background:#999;
  color:#fff;
  width:80%;
  margin:10px auto 30px auto;
}

input{
  margin:auto;
  border: solid 1px #999;
}

button{
  background: #ddd;
  border: solid 1px #999;
}

.result{
  position:relative;
  margin:10px auto;
  .res{
    position:absolute;
    left:50%;
    top:0;
    transform:translateX(-50%);
  }
}


.trans-enter-active, .trans-leave-active {
  transition: all .5s;
}
.trans-enter-to, .trans-leave{
  opacity:1;  
}

.trans-enter, .trans-leave-to {
  opacity: 0;
  transform:translate(-50%,10px) !important ;
}
.trans-leave-to{
  opacity:0;
  transform:translate(-50%,-10px) !important ;
}