body {
  margin: 0;
}

main {
  padding: 50px;
}

.heading {
  height:100px;
  background-color: #E9ECEF;
  padding: 30px;
}

.HOME1 {
  display: inline-block;
  background-color: orange;
}

.navbar ul {
  display: flex;
  background-color: #F8F9FA;
  text-decoration: none;
  list-style: none;
  height: 10px;
  padding: 10px;
}

.flexbox-item01 {
  background-color: #3A3E71;
  display: flex;
  height: 100px;
}

footer {
  height: 20px;
  background-color: #00A5BB;
}
