body {
  font-size: 6em;
  text-align: center;
}

.count {
  margin: 0;
  font-weight: bold;
  color: gray;
}

.wrap {
  margin-top: 20px;
  color: white;
  background-color: gray;
  padding: 80px 40px;
  font-weight: bold;
}

.typed {
  color: lightgreen;
}

.mistyped {
  background-color:  red;
}

.timer-set-box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}